@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto";
  src: url("../assets/fonts/Noto_Serif/NotoSerif-Regular.ttf");
  font-family: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
  font-family: 500;
}

:root {
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@layer base {
  * {
    @apply font-nunito;
  }

  body {
    @apply bg-[#f8f8fa];
  }

  /* Modifying the scroll bar */
  ::-webkit-scrollbar {
    width: 16px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
}

@layer components {
  .active {
    @apply bg-light;
  }

  .route_icon {
    @apply h-6 w-6;
  }

  .topnav_bar_icon {
    @apply rounded-full  text-2xl text-dark hover:bg-dark hover:text-white;
  }

  .icon {
    @apply topnav_bar_icon  w-fit  text-[1.5rem] duration-300 hover:bg-dark hover:text-white;
  }

  /* drop down */
  .dropdown_content {
    @apply absolute top-[calc(100%+5px)] right-0 overflow-hidden rounded-xl   bg-white px-[2px] py-[10px] shadow;
  }
  .dropdown_content {
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
  }
  .dropdown_content.active {
    transform: scale(1);
    transition: transform 0.5s var(--transition-cubic);
  }

  .circle {
    background: conic-gradient(#ffd249 290deg, #fff 290deg);
  }

  .circle:before {
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .modal-wrapper {
    @apply invisible fixed top-0 left-0 z-50  grid h-full w-full  scale-[0] transform place-items-center bg-[#00000080] pt-32 transition-all duration-300 ease-in;
  }

  .modal-wrapper.show {
    @apply visible z-50 scale-[1];
  }

  .modal {
    @apply relative h-fit max-w-[650px] overflow-clip rounded-3xl bg-white;
  }

  .info-wrapper {
    @apply invisible fixed top-0 -right-full  z-50 grid h-full  w-full  transform place-items-end bg-[#00000080] py-4 transition-all duration-300 ease-in;
  }

  .info-wrapper.show {
    @apply visible right-0 z-40;
  }

  .info {
    @apply relative h-fit max-w-[650px] overflow-clip rounded-tl-[2rem] bg-white;
  }

  .input {
    @apply h-10 w-full border-b-2 border-gray placeholder-transparent scrollbar-hide focus:border-yellow focus:outline-none;
  }

  .input_label {
    @apply absolute left-0 -top-3.5 text-dark/50  transition-all peer-placeholder-shown:top-0 peer-placeholder-shown:text-base peer-placeholder-shown:text-dark/50 peer-focus:-top-3.5 peer-focus:text-sm peer-focus:text-dark/50;
  }

  .error {
    @apply ml-3 text-xs font-semibold capitalize text-red-400;
  }
}
